*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.main{
    padding-top: 40px;
}
.main h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}
.stopwatch-wrapper{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 10px;
}
.result-box{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-box h2{
    text-align: center;
    margin-bottom: 20px;
}
.stopwatch {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.stopwatch .box{
    width: 150px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
}
.title{
 text-align: center;
 padding: 10px 0;
 font-size: 20px;
 background-color: blue;
 border-radius: 5px 5px 0 0;
}
.time{
    background-color: rgb(87, 87, 255);
    text-align: center;
    padding: 15px 0;
    font-size: 40px;
    border-radius: 0 0 5px 5px;
    letter-spacing: 5px;
    font-weight: 600;

}
.btn-timer-group{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.buttons-stopwatch{
    width: 100px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.buttons-stopwatch:disabled{
    background-color: rgb(201, 201, 253);
}
.start-stop-btn{
    background-color: green;
}
.lap-reset-btn{
    background-color: rgb(87, 87, 255);
}
.started{
    background-color: red;
}
.reset-active{
    background-color: red;
}
.best-time{
    color: green;
}
.worst-time{
    color: red;
}
.time-result{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    width: 400px;
    padding: 5px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600; 
}

/* responsive */

@media screen and (max-width: 730px){
    .stopwatch .box{
        max-width: 120px;
    }
    .stopwatch {
        justify-content: space-around;
        gap: 0;
    }
    .title{
        font-size: 20px;
        
       }
}

@media screen and (max-width: 550px){
    .stopwatch .box{
        max-width: 100px;
    }
    .time-result{
        width: 300px;
    }
    .title{
        font-size: 15px;
        
       }
}
@media screen and (max-width: 460px){

    .stopwatch .box{
        max-width: 80px;
    }
    .title{
        font-size: 0.8em;
        
       }

}



